body{
  background: #65656b;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .button{
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  
  .btn {
    background-color: #989aac;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .btn:hover {
    background-color: #7f838a;
  }
  
  .leftRadioButton{
    float: left;
    margin-left: 20%;
  }
  .rightRadioButton{
    float: right;
    margin-right: 20%;
  }
  #label-classic {color: #FFF;}
  #label-red {color: #ce070c;}
  #label-green {color: #bcff67;}
  #label-blue {color: #02677e;}

  .control {
    float: center;
    text-align: center;
    color: #FFF;
  }
  
  canvas {
    background: #000;
  }
